.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

form {
  margin: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input,
button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

button {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  border-color: #004085;
}

input[type='checkbox'] {
  width: auto;
}

div.task-item {
  background: #ffffff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
  text-align: left;
}

div.task-item p {
  margin: 5px 0;
}
